/* Common Page Elements */
/*_______________*/

html{
	height: 100%;
}

body{
	position: relative;
	padding-top: 4.75rem;
}

footer{
	background-color: #dddddd;
}

img.bg {
  min-height: 100%;
  min-width: 1030px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1030px) {
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.main{
	margin: 0 0 0 0;
}

@media screen and (min-width: 768px) {
	.main{
		margin-top: 300px;
	}
}

.logo{
	height: 50px !important;
	width: 50px !important;
}

.portrait{
	border: 2px solid #dddddd;
	max-width: 200px;
}

.about{
	background-color: rgba(52, 58, 64, 0.7);
}

.about-info{
	font:  18px Source Sans Pro;
	word-spacing: 3px;
}

.main-btn-grp{
	background-color: #eeeeee;
}

.main-btn{
	background-color: #26a883;
	color: #eeeeee;
}

a.main-btn:hover{
	color: #cccccc;
}

.stats{
	background-color: #eeeeee;
}

.items{
	text-align: center;
	max-width: 100%;
}

.item{
	height: 100%;
}

.thumb{
	max-width: 100%;
}

.thumb:hover{
	box-shadow: 0px 5px 10px rgb(52, 58, 64);
}

.cap{
	margin: auto;
	text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
	margin-top: 50%;
	cursor: pointer;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Style Details */
/*_______________*/

.lt-t{
	font-family: Source Sans Pro, sans-serif;
	color: #dddddd !important;
}

.md-t{
	font-family: Source Sans Pro, sans-serif;
	color: #666666 !important;
}

.drk-t{
	font-family: Source Sans Pro, sans-serif;
	color: #333333 !important;
}

.clr-t{
	color: #3aa6dd;
}

.bg-wt {
	background-color: #ffffff !important;
}

.bg-lt{
	background-color: #eeeeee !important;
}

.bg-md{
	background-color: #666666 !important;
}

.bg-drk{
	background-color: rgb(52, 58, 64) !important;
}

.brdr-top{
	border-top: 2px solid #dddddd; 
}

.brdr-btm{
	border-bottom: 2px solid #dddddd; 
}

.drk-brdr-btm{
	border-bottom: 2px solid #bbbbbb;
}

.m-bump{
	margin-bottom: 4em;
}